workflows/vapiRagAgentForSkoolMembers.json
{
  "name": "VAPI RAG Agent (For Skool Members)",
  "nodes": [
    {
      "parameters": {
        "name": "user_documents",
        "description": "Contains all the user's documents that you can check for context to answer user questions.",
        "topK": 3
      },
      "id": "9963abf9-bbe4-4e6e-a293-3d384a886793",
      "name": "Retrieve Documents",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        -736,
        -672
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message.toolCallList[0].function.arguments.query }}",
        "options": {
          "systemMessage": "Your one and only job is to act as a search interface for a knowledge base. You MUST ALWAYS use the `Retrieve Documents` tool to answer any user question that is not a simple greeting like \"hello\" or \"goodbye\". There are NO EXCEPTIONS.\n\n- If the user asks a question, use the tool.\n- If the user says something you don't understand, use the tool with their phrase as the query.\n- Do NOT use your general knowledge for anything.\n\nAfter the tool runs, you will receive information. Your job is then to synthesize that information into a helpful answer. If the tool returns no relevant information, you MUST state that you couldn't find an answer on file."
        }
      },
      "id": "7580ff5d-ba78-4161-a584-c8dc1e92237f",
      "name": "RAG AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -928,
        -896
      ]
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "YOUR_TABLE_NAME",
          "mode": "list",
          "cachedResultName": "YOUR_TABLE_NAME"
        },
        "options": {
          "queryName": "YOUR_MATCH_FUNCTION_NAME"
        }
      },
      "id": "b573f03d-77b5-455c-b4ee-8695a322f22d",
      "name": "Supabase Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        -736,
        -464
      ]
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -640,
        -256
      ],
      "id": "05496aa0-a071-48fd-adab-8f2b33c34698",
      "name": "Embeddings Google Gemini"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -864,
        -464
      ],
      "id": "9b44e335-1976-45df-aeed-6d6298644033",
      "name": "Google Gemini Chat Model1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"results\": [\n    {\n      \"toolCallId\": \"{{ $('VAPI Webhook Trigger1').item.json.body.message.toolCalls[0].id }}\",\n      \"result\": {{ JSON.stringify($('RAG AI Agent').item.json.output) }}\n    }\n  ]\n}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "36fa4c62-cf2d-4495-852a-493bc5a0fa43",
      "name": "Respond to VAPI1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -336,
        -592
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vapi-rag-faq",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "42b51f3c-12eb-4763-a087-d69cbfbccf17",
      "name": "VAPI Webhook Trigger1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1152,
        -592
      ],
      "webhookId": "YOUR_WEBHOOK_ID"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Set File ID').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "id": "5fa71e3c-65b9-4cf8-a16b-f5ed48bb4014",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -112,
        -80
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "YOUR_GOOGLE_DRIVE_FOLDER_ID",
          "mode": "list",
          "cachedResultName": "YOUR_FOLDER_NAME"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "bad4429b-70ab-4b88-b037-519dfe2391c3",
      "name": "File Created",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1152,
        -240
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "YOUR_GOOGLE_DRIVE_FOLDER_ID",
          "mode": "list",
          "cachedResultName": "YOUR_FOLDER_NAME"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "e84ffedb-d1f7-41c8-bda6-82e1d9b4d780",
      "name": "File Updated",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1152,
        16
      ]
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "0552107e-ebad-4d7f-a774-2c605b16bb66",
      "name": "Extract Document Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        128,
        -80
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a7b9f98e-3ff2-469c-afb6-a0d4b9b51fc4",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        448,
        352
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "YOUR_TABLE_NAME",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.*{{ $json.file_id }}*"
      },
      "id": "3ec32b26-a9fe-43f5-aceb-0e1bcc3a7dac",
      "name": "Delete Old Doc Rows",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -336,
        -80
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "44a19a5b-5fb2-4b3b-a238-c3532778c354",
      "name": "Set File ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -736,
        -80
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "YOUR_TABLE_NAME",
          "mode": "list",
          "cachedResultName": "YOUR_TABLE_NAME"
        },
        "options": {
          "queryName": "YOUR_MATCH_FUNCTION_NAME"
        }
      },
      "id": "b96582dd-190c-4d7c-ad72-f44c00df927f",
      "name": "Insert into Supabase Vectorstore",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        352,
        -80
      ]
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=file_id",
                "value": "={{ $('Set File ID').item.json.file_id }}"
              }
            ]
          }
        }
      },
      "id": "f9e27a7c-1b44-4820-9999-42e34a99149f",
      "name": "Default Data Loader1",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        352,
        144
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Retrieve Documents": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Retrieve Documents",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Retrieve Documents",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "RAG AI Agent": {
      "main": [
        [
          {
            "node": "Respond to VAPI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VAPI Webhook Trigger1": {
      "main": [
        [
          {
            "node": "RAG AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Extract Document Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Created": {
      "main": [
        [
          {
            "node": "Set File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Updated": {
      "main": [
        [
          {
            "node": "Set File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Document Text": {
      "main": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Doc Rows": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set File ID": {
      "main": [
        [
          {
            "node": "Delete Old Doc Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "47296769-5733-4179-8d04-2ba494135068",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2c83e3289c1af57bd85ca18c178da6ca354b5289c099e6c697fcb5ff238369fc"
  },
  "id": "DVCwv4PlTYN5R6DW",
  "tags": []
}